<section id="about" class="about">
  <div class="about-container">

    <div class="about-content">

      <p class="section-label">
        Sobre mí
      </p>

      <h2 class="about-title">
        Conóceme un poco
      </h2>

      <p class="about-text">
        Soy un desarrollador de software interesado en crear aplicaciones
         y proyectos que me permitan seguir aprendiendo y
        mejorando mis habilidades.
      </p>

      <p class="about-text">
        Me interesa trabajar con diferentes tecnologías y convertir ideas
        en proyectos funcionales, cuidando tanto la parte técnica como
        la experiencia del usuario.
      </p>

    </div>

  </div>
</section>
