<nav class="navbar">
  <div class="navbar-container">

    <a href="#home" class="navbar-logo">
      Fernando Rojas
    </a>

    <div class="navbar-links">

      <a href="#home" class="navbar-link">
        Inicio
      </a>

      <a href="#about" class="navbar-link">
        Sobre mí
      </a>

      <a href="#experience" class="navbar-link">
        Experiencia
      </a>

      <a href="#technologies" class="navbar-link">
        Tecnologías
      </a>

      <a href="#projects" class="navbar-link">
        Proyectos
      </a>

      <a href="#contact" class="navbar-link">
        Contacto
      </a>

    </div>

  </div>
</nav>
