<section id="home" class="home">
  <div class="home-container">

    <div class="home-content">

      <p class="home-greeting">
        Hola, soy
      </p>

      <h1 class="home-title">
        Fernando Rojas
      </h1>

      <h2 class="home-subtitle">
        Desarrollador de Software
      </h2>

      <p class="home-description">
        Soy un desarrollador Java con experiencia en desarrollo, diseño ,y mantenimiento de aplicaciones y servicios escalables.
        Especializado en en Java, Spring Boot y bases de datos relacionados y no relacionados.
      </p>

      <div class="home-buttons">

        <a href="#projects" class="button button-primary">
          Ver proyectos
        </a>

        <a href="#contact" class="button button-secondary">
          Contactarme
        </a>

      </div>

    </div>

    <div class="home-image-container">

      <div class="home-image">
        <img
              src="img/Verdadero-nombre-de-baby-yoda.jpg"
              alt="Foto de perfil"
            >
      </div>

    </div>

  </div>
</section>