<section id="experience" class="experience">
  <div class="experience-container">

    <p class="section-label">
      Experiencia
    </p>

    <h2 class="experience-title">
      Mi experiencia
    </h2>

    <div class="experience-item">

      <div class="experience-date">
        Oct 2024 - Mayo 2026
      </div>

      <div class="experience-content">
        <h3>
          Desarrollador Backend Java
        </h3>

        <ul>
            <li>
                Desarrollo, optimización y mantenimiento de servicios Backend 
                utilizando Java para aplicaciones de misiones críticas.
            </li>
            <li>
                Participación en el reemplazo de sistemas legacy, optimizando 
                el rendimiento en un 40% en tiempos de respuesta respecto al 
                sistema anterior.
            </li>
            <li>
                Implementación y optimización en la base de datos MySQL mediante 
                consultas complejas y procesos de almacenamiento.
            </li>
            <li>
                Participación activa en el refinamiento técnico y decisiones de 
                arquitectura dentro de equipos multidisciplinarios mediante Scrum.
            </li>
        </ul>
      </div>

    </div>

  </div>
</section>
